.wd-image-border-top{
    border: 1px solid rgb(48,51,54);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.wd-text-border-bottom{
    border-bottom: 1px solid rgb(48,51,54);
    border-left: 1px solid rgb(48,51,54);
    border-right: 1px solid rgb(48,51,54);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
    