.wd-explore{
    background-color: black;
    margin-top: 0px;
}

.wd-grid-col-left-sidebar {
    width: 20%;
    float: left;
}

.wd-grid-col-main-content {
    width: 60%;
    margin-left: 16px;
    float: left;
}

.wd-grid-col-right-sidebar {
    width: 20%;
    float: left;
}

/* Clear the formatting for next divs */
.wd-grid-row {
    clear: both;
}

.wd-vertical-align{
    display: flex;
    flex-direction: column;
}

.wd-center-borders{
    border-left: 1px solid rgb(47,51,54);
    border-right: 1px solid rgb(47,51,54);
}

.wd-horizontal-align{
    display: flex;
}

.wd-vertical-align-item-padding{
    padding:16px;
}

.wd-icon{
    width: 20px;
    height: 20px;
}

.wd-search-box{
    background-color: darkgray;
    border-radius: 10px;
    width: 90%;
    padding: 2px;
}

.wd-search-icon-padding{
    padding-left: 10px;
}

.wd-search-text-padding{
    padding-left: 10px;
}

.wd-search-input-text{
    border: none;
    color:white;
    background-color: darkgray;
}

.wd-settings-box{
    width: 10%;
}

.wd-settings-icon{
    float: right;
}

.wd-settings-left-margin{
    margin-left: 12px;
}

.wd-horizontal-tab-align{
    display: flex;
    justify-content: space-evenly;
}

.wd-tab{
    padding: 16px;
    font-size: 15px;
    color: rgb(110, 118, 125);
    text-decoration: none;
    font-weight: bold;
}

.wd-tab-active{
    border-bottom: 2px solid rgb(29,161,242);
    color: rgb(29,161,242);
    font-weight: bold;
    text-decoration: none;
}

.wd-sticky-padding{
    padding-left:16px;
    padding-top:16px;
    padding-right:16px;
}

.wd-top-bottom-border{
    border-top: 1px solid rgb(47,51,54);
    border-bottom: 1px solid rgb(47,51,54);
}

/* Type C Posts Outer-Content */
.wd-trending-outer-content{
    display: flex;
    float: left;
    width: 95%;
}

.wd-trending-outer-content-item{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* Type C Posts Outer-Three-Dots */
.wd-trending-outer-three-dots{
    float: left;
    width: 5%;
}

.wd-trending-outer-three-dots-item{
    vertical-align: top;
}

.wd-three-dots-icon{
    float: right;
}

.wd-posts-text-item-non-content-font{
    font-size: 13px;
    color: rgb(110, 118, 125)
}

.wd-posts-text-item-content-font{
    font-size: 16px;
    font-weight: bold;
    color:white
}

/* Type D Posts Outer-Content */
.wd-author-outer-content, .wd-topic-outer-content{
    float: left;
    width: 80%;
}

/* Type D Posts Outer-Image */
.wd-author-outer-image, .wd-topic-outer-image{
    float: right;
}

.wd-author-icon{
    width: 100px;
    height: 100px;
    border: 1px solid rgb(47,51,54);
    border-radius: 10px;
}

.wd-image-left-margin{
    margin-left: 16px;
}

.wd-author-information-container{
    display: flex;
}

.wd-bold-text{
    font-weight: bold;
}

.wd-small-icon{
    height: 12px;
    width: 12xpx;
}

img {
    max-width: 100%;
    max-height: 100%;
}
.wd-author-information-item-padding{
    padding-left: 2px;
    padding-right: 2px;
}

.wd-topic-text-font-color{
    font-size: 13px;
    color: lightgray;
}